/* Add CSS Styling */
.oddp{
    background-color: pink;
    font-family: "Verdana","DejaVu Sans",sans-serif;

}
.oddp.o3p{
    font-size: 24px;
}
#e2{
    color:blue;
    font-size:36px;
}
#e4{
    background-color: lightgreen;
    font-size:24px;
    font-weight:bold;
}